@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.horizontal-scroll {
  --spacer: var(--size-3);
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  padding: 0 var(--spacer) var(--spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;

}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel-button {
  position: absolute;
  font-size: 4rem;
  z-index: 2;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}